*
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

html
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

body
{
    background: url(mcx_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
            "header"
            "main";
}

.noselect 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}   

.header
{
    grid-area: header;
    box-sizing: border-box;
    width: 100%;
}

.header .title
{
    text-align: left;
    color: white;
    margin: 20px 0 0 100px;
    filter: drop-shadow(2px 2px 5px white);
    font-size: 40px;
    float: left;
}

.header .navbar
{
    position: absolute;
    right: 5%;
    top: 40px;
    margin: 0 0 20px 0;
    list-style: none;
}

.header .navbar li
{
    display: inline-block;
    margin: 0 10px;
}

.header .navbar li a
{      
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: 500ms;
}

.header .navbar li a:hover
{
    background: radial-gradient(#777777bb, #555555bb); 
}

.content
{
    grid-area: main;
    height: 100%;
    padding: 5% 0;
}

.content .aboutme
{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 70%;
    height: 300px;
    color: white;
    background: gray;
    box-sizing: border-box;
}

.content .aboutme .aboutme-title
{
    font-size: 50px;
    text-align: center;
}

.content .aboutme blockquote
{
    font-size: 20px;
    margin: 0 0 0 10px;
    text-align: center;
}

@media screen and (max-width: 900px)
{
    .header .title
    {
        width: 100%;
        height: 100px;
        float: none;
        margin: 0;
        text-align: center;
        font-size: 35px;
    }

    .header .navbar
    {
        position: absolute;
        transform: translateX(-50%);
        top: 65px;
        left: 50%;
        margin: 0;
        width: fit-content;
    }
}
